@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    cursor: none;
}
body{
    font-family: 'Poppins' , sans-serif;
}
nav {
    display:flex;
    justify-content: space-between;
    width:90%;
    min-height: 10vh;
    align-items: center;
    margin: auto;
}

.nav-links li{
    padding: 1rem;
}

.nav-links{
    display:flex;
    justify-content: space-between;
    list-style:none;
}

.nav-links, h1{
    flex: 1;
}

.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property:background, transform;
    transform-origin: 100% 100%;
    z-index: -1;
    /*background: rgba(157, 157, 157, 0.5);*/
    backdrop-filter: grayscale(100%);
}

.link-grow{
    transform: scale(1.2);
    background: #222222;
}

.front-desc{
    padding: 40vh 0 0;
}

h2{
    font-size: 3.5rem;
    padding: 1rem 0;
}

.hovered-link{
    color: white;
}

.front-cover img{
    position: relative;
    z-index:-3;
    width: 500px;
    height: 800px;
    margin: 10px 100px 100px;
}

#body{
    display: flex;
}